# Backups
*~
*.bak
*.swp

# Qt Creator
*.user*
*.autosave

# IDEs
.vscode
.buildconfig

# Conan
conanbuildinfo.pri
conanbuildinfo.txt
conanbuildinfo.cmake
conaninfo.txt
conan.lock
graph_info.json
.venv*

# RPM
*.list

# Build dirs
/build*
/rpmbuilddir
/RPMS
