# Backups
*~
*.bak
*.swp
*.spec.*

# Logs
*.log

# Qt Creator
*.user*
*.autosave

# IDEs
.vscode
.buildconfig
.mypy_cache
compile_commands.json

# Conan
conan.lock
conanbuildinfo.pri
conanbuildinfo.txt
conanbuildinfo.cmake
conaninfo.txt
conan.lock
graph_info.json
.conan

# Python
__pycache__
.venv*

# RPM
*.list
/rpm/*.spec.*
/rpmbuilddir*
/RPMS

# Build dirs
/build*
