[submodule "tests/gtest"]
	path = tests/gtest
	url = https://github.com/google/googletest
[submodule "kdeconnect/kdeconnect"]
	path = kdeconnect-kde
	url = https://invent.kde.org/richardliebscher/kdeconnect-sfos.git
	branch = sailfishconnect
