# Backups
*~
*.bak
*.swp
*.spec.*

# Logs
*.log

# Qt Creator
*.user*
*.autosave

# IDEs
.vscode
.buildconfig
.mypy_cache
compile_commands.json

# RPM
*.list
/rpm/*.spec.*
/rpmbuilddir*
/RPMS

# Build dirs
/build*

# CMake
.cpm-cache