[submodule "tests/gtest"]
	path = tests/gtest
	url = https://github.com/google/googletest
[submodule "kdeconnect/kdeconnect"]
	path = kdeconnect/kdeconnect
	url = https://invent.kde.org/kde/kdeconnect-kde.git
