[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
X-Nemo-Single-Instance=yes
Icon=harbour-sailfishconnect
Exec=harbour-sailfishconnect
Name=Sailfish Connect

[X-Sailjail]
Sandboxing=Disabled
