[Desktop Entry]
Type=Application
X-Nemo-Application-Type=generic # TODO: silica-qt5 (Link with rdynamic)
X-Nemo-Single-Instance=yes
Icon=harbour-sailfishconnect
Exec=harbour-sailfishconnect
Name=Sailfish Connect
